<div class="jumbotron text-center pb-3">
  <h1>Fill in the information below</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">

      <form class="create-form">

        <div class="form-group">

          <select class="custom-select" id="category">
            <option selected value="">All Categories</option>
            <option value="Personal">Personal</option>
            <option value="Adventure">Adventure</option>
            <option value="Social">Social</option>
          </select>


          <label for="w1"><strong>adjective</strong> </label>
          <input type="text" class="form-control" id="w1" name="words" required>

          <label for="w2"><strong>noun</strong> </label>
          <input type="text" class="form-control" id="w2" name="words" required>

          <label for="w3"><strong>noun</strong> </label>
          <input type="text" class="form-control" id="w3" name="words" required>

          <label for="w4"><strong>adjective</strong> </label>
          <input type="text" class="form-control" id="w4" name="words" required>

          <label for="w5"><strong>noun</strong> </label>
          <input type="text" class="form-control" id="w5" name="words" required>

          <label for="w6"><strong>noun</strong> </label>
          <input type="text" class="form-control" id="w6" name="words" required>

          <label for="w7"><strong>noun</strong> </label>
          <input type="text" class="form-control" id="w7" name="words" required>

          <label for="w8"><strong>adjective</strong> </label>
          <input type="text" class="form-control" id="w8" name="words" required>

          <label for="w9"><strong>plural noun</strong> </label>
          <input type="text" class="form-control" id="w9" name="words" required>

          <label for="w10"><strong>noun</strong> </label>
          <input type="text" class="form-control" id="w10" name="words" required>


        </div>

        {{!-- <a id="link" href="https://www.google.com/">click me <button type="submit" class="btn">Submit </button></a>
        --}}
        <button type="submit" id="submitId" class="btn btn-info">submit </button>
      </form>
    </div>

  </div>

</div>